#Contact-section {
  background-color: #1f1f1f;
  color: #ffffff;
  width: 100%;
  margin: 0;
}
.Contact-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 50px;
}
.Contact-texts {
  max-width: 800px;
  text-align: center;
  margin: 50px;
}
.Contact-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 50px;
  align-items: center;
}
.Contact-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
  border-radius: 16px;
  padding: 30px;
  border: 1px solid #ffffff1a;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  padding: 20px 10px;
  background: #0d0d0d;
  border: 1px solid #ffffff1a;
  border-radius: 8px;
  color: #f9fafb;
  transition: 0.3s;
  margin: 10px 0;
}

.input:focus {
  border-color: #7c3aed;
  outline: none;
}
.message {
  padding: 10px;
  padding-bottom: 50px;
}
.Contact-icon {
  width: 25px;
  height: 25px;
}
.button {
  background: #7c3aed4d;
  color: #ffffff;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s;
}

.button:hover {
  background-color: #7c3aed;
}
.success-message {
  color: #800080;
}

.icon-box {
  width: 45px;
  height: 45px;
  border-radius: 10px;
  background-color: #161616;
  color: #3b82f6;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (min-width: 500px) and (max-width: 912px) {
  .Contact-card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    align-items: center;
  }
  .Contact-texts {
    text-align: left;
    margin: 20px;
  }
}
@media (min-width: 300px) and (max-width: 430px) {
  .Contact-card-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 50px;
    align-items: center;
  }
  .Contact-texts {
    text-align: left;
    margin: 20px;
  }
}
