@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  background-color: #0d0d0d;
  color: #f9fafb;
  height: 100%;
  overflow-x: hidden;
}
html {
  box-sizing: border-box;
  overflow-x: hidden;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

h2,
h3 {
  color: #a78bfa;
  font-weight: bold;
  font-size: 1.5rem;
}
h2 {
  font-weight: bolder;
  font-size: 2.5rem;
}
p,
a {
  font-weight: 500;
  font-size: medium;
  line-height: 1.5;
}
